<footer class="mt-3">
    <div style="font-size: 20px; text-align: center;">
        <p>Find me on social media:</p>
        <a href={{socialMedia.facebookLink}}><i class="fa fa-facebook-official fa-2x"></i></a>
        <a href={{socialMedia.instagramLink}}><i class="fa fa-instagram fa-2x"></i></a>
        <a href={{socialMedia.pinterestLink}}><i class="fa fa-pinterest-p fa-2x"></i></a>
        <a href={{socialMedia.twitterLink}}><i class="fa fa-twitter fa-2x"></i></a>
        <a href={{socialMedia.linkedinLink}}><i class="fa fa-linkedin fa-2x"></i></a>
    </div>
</footer>