
<!-- Page Container -->
<div class="content" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="row-padding">
  
    <!-- Left Column -->
    <app-sidebar [name]="data.name" [personalInformation]="data.personalInformation" [skills]="data.skills" [languages]="data.languages"></app-sidebar>
    <!-- Right Column -->
    <div class="twothird">
      <app-section [sectionTitle]="data.section[0].sectionTitle" [items]="data.section[0].items"></app-section>
      <app-section [sectionTitle]="data.section[1].sectionTitle" [items]="data.section[1].items"></app-section>
    <!-- End Right Column -->
    </div>
    
    <!-- End Grid -->
  </div>
  <app-contact (sendContact)="receiveContact($event)"></app-contact>
  
  <app-footer></app-footer>
</div>
