/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.contact-form{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

mat-card-title, h1, h2, i{
    color: #00a86b;
}

i {
    width: 50px;
    margin-right: 5px;
}

img {
    width: 150px;
}

.form-button{
    height: 46px !important;
    width: 200px;
    background-color: #00a86b !important;
    color: white !important;
    margin-bottom: 20px;
}

.form-button:disabled{
    opacity: 40%;
}
